#parse( "header.vm" )
<div class="Content">
    <div class="post">
        <h2><a href="$rootpath/$contentItem.getUrl()">$contentItem.getTitle()</a></h2>
        <p class="post-details">Published: $contentItem.getDateCreated()</br>
            <span class="tag-list">Tagged:
                #foreach ( $tagKey in $contentItem.getTags() )
                    #if( $velocityCount == 1 ) in #end<a href="$rootpath/$tagKey.getUrl()">$tagKey.getTitle()</a>#if( $velocityHasNext ), #end
                #end
            </span>
        </p>
        <p>$contentItem.getContent()</p>
    </div>
</div>
#parse( "footer.vm" )