#parse( "header.vm" )
<div class="Content">
    <div class="post">
        <h1><a href="$rootpath/$contentItem.getUrl()">$contentItem.getTitle()</a></h1>
        <p class="post-details">$contentItem.getDateCreated()
            #foreach ( $tag in $contentItem.tags() )
                #if( $velocityCount == 1 ) in #end<a href="$rootpath/$tag">$tag</a>#if( $velocityHasNext ), #end
            #end
        </p>
        <p>$contentItem.getContent()</p>
    </div>
</div>
#parse( "footer.vm" )