#parse( "header.vm" )    
    <div class="Content">
    <h2>Posts Tagged '$tag.getTitle()'</h2>
    <ul>
#foreach( $contentItem in $contents )
        <li><a href="$rootpath/$contentItem.getUrl()">$contentItem.getTitle()</a></li>
#end
    </ul>
    </div>
#parse( "footer.vm" )